{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "edge": "17",
          "chrome": "67"
        },
        "corejs": 2, //不推荐使用polyfill
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ]
}
